#menuWrapper {
    width: 100%;
    background-color: #eee;
    padding: 1rem;
}

#menuFlexRow {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#menuLeft, #menuRight {
    display: flex;
    flex-direction: row;
}

#menuLeft {
    flex: .99;
}

#menuLogo img {
    max-width: 2.5vw;
}

#menuSearch {
    flex: 1;
    margin-left: 1rem;
    position: relative;
}

#resultsWrapper {
    position: absolute;
    width: 100%;
    top: 100%;
    left: 0;
    background-color: #fff !important;
    z-index: 1000;
}

#searchResults {
    width: 100%;
}

.resultItem {
    width: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    cursor: pointer;
    border-bottom: 1px solid #ccc;
    border-left: 4px solid transparent;
}

.resultItem:hover {
    border-left-color: #1aeded;
}

.resultItem p {
    margin: 0;
    padding: 0;
    font-weight: 600;
    width: 100% !important;
}

.resultItem small {
    font-style: italic;
}

.itemPhoto img{
    max-width: 3vw;
}

.itemDescription {
    padding-left: 1rem;
}

#lblMenuUsername{
    font-size: 1.5rem;
}

#menuManager {
    margin-right: .5rem;
}

#menuManager a{
    margin: 0;
    padding: 0;
}

#manager{
    max-width: 2vw;
    cursor: pointer;
}