#menuWrapper {
    width: 100%;
    background-color: #eee;
    padding: 1rem;
}

#menuFlexRow {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#menuLeft, #menuRight {
    display: flex;
    flex-direction: row;
}

#menuLogo img {
    max-width: 2.5vw;
}

#menuSearch {
    padding-left: 1rem;
}

#lblMenuUsername{
    font-size: 1.5rem;
}

#menuManager {
    margin-right: .5rem;
}

#menuManager a{
    margin: 0;
    padding: 0;
}

#manager{
    max-width: 2vw;
    cursor: pointer;
}