#flexColumnWrapper {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}

#flexRowWrapper {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
}

#overviewWrapper {
    width: 40%;
    height: auto;
    margin: 0 auto;
}

#mentionWrapper, #overviewWrapper, #trendWrapper {
    margin-top: 2rem;
    position: relative;
    height: fit-content;
    flex: 1;
}

#mentionWrapper, #trendWrapper {
    margin-left: 2rem;
    margin-right: 2rem;
}

.mentionBox, .trendBox {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.mentionBox h4, .trendBox h4 {
    margin: 0;
    padding: 0;
    border-bottom: 1px solid #ccc;
    margin-bottom: 1rem;
}

.paddingBox {
    padding: 1rem;
}

.tweetBox {
    width: 100%;
    margin-top: 2rem;
}

.tweetFlex {
    display: flex;
    flex-direction: row;
}

.tweetPic {
    flex: 1;
}

.tweetPic img{
    width: 100%;
}

.tweetData {
    flex: 8;
    padding-left: 1rem;
    display: flex;
    flex-direction: column;
}

.tweetDate, .tweetUsername, .tweetContent, .tweetActions {
    width: 100%;
    text-align: left;
}

.tweetUsername label {
    font-weight: bold;
}

.tweetDate label {
    color: gray;
}

.tweetContent {
    margin-top: .5rem;
    background-color: #fff;
}

.tweetContent p {
    margin: 0;
    padding: .5rem;
}

.tweetActions {
    padding-top: .5rem;
    display: flex;
    flex-direction: column;
}

.tweetActions span{
    font-size: 2rem;
    cursor: pointer;
    width: fit-content;
}

.tweetActions span:hover{
    color: red;
}

.lblTrend {
    display: block;
    cursor: pointer;
    padding: .3rem;
}

.lblTrend:hover {
    background-color: #fff;
    border-left: 2px solid #1bcfcf;
}