tweetBox {
    width: 100%;
    margin-top: 2rem;
}

.tweetFlex {
    display: flex;
    flex-direction: row;
}

.tweetPic {
    flex: 1;
}

.tweetPic img{
    width: 100%;
}

.tweetData {
    flex: 8;
    padding-left: 1rem;
    display: flex;
    flex-direction: column;
}

.tweetDate, .tweetUsername, .tweetContent, .tweetActions {
    width: 100%;
    text-align: left;
}

.tweetUsername label {
    font-weight: bold;
}

.tweetDate label {
    color: gray;
}

.tweetContent {
    margin-top: .5rem;
    background-color: #fff;
}

.tweetContent p {
    margin: 0;
    padding: .5rem;
}

.tweetActions {
    padding-top: .5rem;
    display: flex;
    flex-direction: column;
}

.tweetActions span{
    font-size: 2rem;
    cursor: pointer;
    width: fit-content;
}

.tweetActions span:hover{
    color: red;
}