#new {
    width: 100%;
}

#newFlex {
    display: flex;
    flex-direction: row;
    padding: 1rem;
    position: relative;
}

#userPic {
    flex: 1;
}

#userPic img{
    width: 100%;
}

#tweetInputWrapper {
    flex: 8;
    padding-left: 1rem;
    display: flex;
    flex-direction: column;
}

#tweetInputWrapper .button {
    margin: .3rem 0;
}